// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1  {
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center !important;
  width: 970px !important;
}

.rest_name {
  font-size: 45px !important;
}

body{
  font-size: 30px !important;
  font-family: 'Poppins', sans-serif !important;
}
